.Explain{
    font-style: italic ;
    color:white;
    background-color: chartreuse;
    font-weight:bold;
    background-position: right center;
    
}

.Explain{
    background-image: url(../Images/Travel.jpg);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    padding: 40px;
    border-radius: 10px;
    height: 850px;
    width: fit-content;  
    
}

#main{
    color: chartreuse;
    background-color: black;
    text-align: center;
}

.Australia{
    display: flex;
    gap: 10px;
}
.Australia img{
    width: 30%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    padding: 5px;
}

.Story{
    padding: 10px;
    font-weight: 40px;
}



#blog{
    color: chocolate;
    text-align: center;
    text-decoration: underline;
}

.Japan{
    display: flex;
    gap: 10px;
}

.Japan img{
    width: 30%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
    padding-left: 5px;
}

.USA{
    display: flex;
    gap: 10px;
}

.USA img{
    width: 30%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    padding: 5px;
}

ol{
    list-style-position: inside;
    padding: 10px;
}

ol li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    margin-bottom: 40px;
    font-style: italic;
    color: blue;
    font-size: 30px;
}

ol li img{
    width: 250px;
    height: auto;
    display: block;
}

.pictures{
    box-shadow: none;
    border: none;
    outline: none;
    display: block;
    background: transparent;
    border-radius: 20px;
    mix-blend-mode:multiply;
    margin: 20px;
}

#title{
    text-align: center;
    font-style: italic;
}


ul{ list-style-position: inside;
    padding: 10px;
}


ul li{
    display: flex;
    align-items: center;
    font-size: 30px;
    gap: 30px;
    font-style: italic;
    color: blue;
    margin-bottom: 20px;

    

}

ul li img{
    width: 30%;
    height: auto;
    display: block;

}

.Food{
    border-radius: 20px;
    background: transparent;
    box-shadow: none;
    mix-blend-mode:multiply;
}

#M{
    display: inline-block;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    font-weight: bold;
    width: 100%;

}

#song{
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
}


table{
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
}

th, td{
    border: 1px solid gold;
    padding: 12px;
    text-align: left;
    color:darkmagenta;
}

th{
    background-color: grey;
}

a{
    text-decoration: none;
    color: blue; 
}

footer{
    padding: 20px;
}

#song{
    padding: 20px;

}